/*#region General CSS*/
body, html {
    -webkit-text-size-adjust: none;
}

body {
    background-color: #E1ECEB;
}

.no-margin {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.bg {
    background: url(../Assets/bg.jpg) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    position: fixed;
    z-index: -100;
    height: 100%;
    width: 100%;
}

/*#endregion General CSS*/
  
/*#region Button Design*/
.button-text {
    font-family: 'Crimson Pro', serif;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: #454545;
    font-size: 1em;
}

.button-design {
    background-color: #d5513f00;   
    border: none;
    color: #454545;
    padding: 1em 4em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border: .1em solid #D5503F;
    transition: all 0.2s;
}

.button-design:hover {
    background-color: #d5513f;
    color: white;
}

.button-design span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.wiki-button {
    margin-top: 3em;
}

.reddit-icon {
    color: #d5513f;
}

.reddit-text a {
    text-decoration: none;
    cursor: pointer;
    color: #454545;
}

.reddit-text a:hover {
    color: #d5513f;
}
/*#endregion Button Design*/

/*#region Text Title Design*/
.reddit-text {
    font-family: 'Crimson Pro', serif;
    font-weight: 700;
    font-size: 0.7em;
    margin-bottom: 5em;
}

.rose-tulips-liberty-font{
    font-family: 'Crimson Pro', serif;
}

.rose-tulips-liberty-font{
    font-family: 'Crimson Pro', serif;
    font-weight: 400;
    color: #D5503F;
    font-size: 3em;
    letter-spacing: 0.1em;
}

.university-font{
    font-family: 'Crimson Pro', serif;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: #454545;
    padding-top: 20vh;
    font-size: 0.7em;
}

.historical-font{
    font-family: 'Crimson Pro', serif;
    font-weight: 700;
    color: #454545;
    font-size: 0.7em;
    letter-spacing: 0.05em;
    margin-top: 0em;
}

.big-first-letter::first-letter{
    font-size: 1.5em;
}

.roses-text {
    margin-left: -1.5em;
}

.tulips-text {
    margin-left: 0.5em;
    margin-top: -0.5em;
}

.and-text {
    margin-left: -1.7em;
    margin-top: -1em;
    font-size: 8em;
}

.liberty-text {
    margin-left: 2.6em;
    margin-top: -0.5em;
}

.and-liberty-div p {
    display: inline-block;
    vertical-align: top;
}
  

@media only screen and (min-width: 768px) {
    .button-text {
        font-size: 1.3em;
    }

    .reddit-text {
        font-size: 1em;
    }

    .rose-tulips-liberty-font{
        font-size: 6em;
    }
    
    .university-font{
        font-size: 1.5em;
        padding-top: 13vh;
    }
    
    .historical-font{
        font-size: 1.5em;
    }

    .big-first-letter::first-letter{
        font-size: 1.5em;
    }

    .roses-text {
        margin-left: -1.5em;
    }
    
    .tulips-text {
        margin-left: 0.5em;
        margin-top: -0.3em;
    }
    
    .and-text {
        margin-left: -1.7em;
        margin-top: -1em;
        font-size: 18em;
    }
    
    .liberty-text {
        margin-left: 2.6em;
        margin-top: -0.3em;
    }
}
/*#endregion Text Title Design*/

/*#region Animation*/
[data-entrance="custom-fade"]{
    opacity: 0;
    transform: translate(0, 200px);
}
[data-entrance="custom-fade"].has-entered{
    opacity: 0.6 !important;
    transform: translate(0, 0);
}
[data-entrance="fade-normal"]{
    opacity: 0;
}
[data-entrance="fade-normal"].has-entered{
    opacity: 1.0 !important;
}
/*#endregion Animation*/